# {{ ansible_managed }}

# Defaults
{% for defaults in sudo_defaults %}
Defautls {{ defaults }}
{% endfor %}

# Host alias specification
{% for host_alias in sudo_host_aliases %}
Host_Alias {{ host_alias.name }} = {{ host_alias.alias }}
{% endfor %}

# User alias specification
{% for user_alias in sudo_user_aliases %}
User_Alias {{ user_alias.name }} = {{ user_alias.alias }}
{% endfor %}

# Run as alias specification
{% for runas_alias in sudo_runas_aliases %}
Runas_Alias {{ runas_alias.name }} = {{ runas_alias.alias }}
{% endfor %}

# Cmnd alias specification
{% for cmnd_alias in sudo_cmnd_aliases %}
Cmnd_Alias {{ cmnd_alias.name }} = {{ cmnd_alias.alias }}
{% endfor %}

# User privilege specification
{% for user in sudo_list_all %}
{% if user.sudo is defined %}
{{ user.name }} {{ user.sudo.hosts }}=({{ user.sudo.as }}){{ " NOPASSWD:" if ( user.sudo.nopasswd | default(false) ) else "" }} {{ user.sudo.commands }}
{% endif %}
{% endfor %}

{% if sudo_sudoersd %}
#includedir {{ sudo_sudoersd_dir }}
{% endif %}
